.pad-top{
    padding-top: 100px;
}
.height {
min-height: 700px;
}
.background-color{
    background-color: rgb(242, 243, 236);
}

.font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.user{
    border: 1px solid black;
    border-radius: 10px;
    margin:10px;
    padding:10px;
}

.user:hover{
    background-color: rgb(178, 218, 194);
}

.messages{
    
    min-height: 100px;
    padding:15px;
}

.makeBorder{
    margin-bottom: 10px;
    box-shadow:   0 0 2px 3px rgb(224, 217, 198); 
    border-radius: 5px;
    background-color:rgb(243, 189, 39);
    
}

.textBorder{
    margin-bottom: 10px;
    border:1px solid rgb(240, 231, 206); 
    min-height: 200px;
    border-radius: 10px;
    box-shadow:   0 0 2px 3px rgb(224, 217, 198); 

    

}
.col-4{
    padding:10px;
    min-height: 500px;
}



.spec:hover{
    text-decoration: underline;
    cursor: pointer;
}


.box{
    background-color:  rgb(242, 243, 236);
   
}
.but:focus,
.but:active
{
    outline: none !important;
    box-shadow: none !important;
}

.but {
  border: 1px solid rgb(234, 241, 170);
    width:100px;
}
.but:hover{
    background-color: rgb(228, 236, 156);
}

.messagecolor{
    background-color:rgb(243, 189, 39); 
}

