<div class="background-color height pad-top font">
<div class="container">
<div class="row justify-content-between">

<div class="col-2">
  <div class="makeBorder p-3 text-center">
        Menu <hr>
        <button (click)='showinbox()' class="btn but mb-1">Inbox</button>
        <br>
        <button (click)='showsendbox()' class="btn but">Sent</button>
  </div>
  <div class="makeBorder">
  <h5 class="text-center p-3 ">active users </h5>
  <div>{{message}}</div>
  <div  *ngFor="let obj of userList" class="user text-center " (click)="sendMessage($event)">
      <div  [data]='obj.username'>
    {{obj.firstname}}
     {{obj.lastname}}
    </div>
  </div>
</div>

</div>

<div [class]='inboxvisibility' class="col-10">
  <h4 class="text-center">Inbox messages</h4>
  <h5>{{inboxMessage}}</h5>


  <table class="table table-bordered">
    <thead>
      <tr>
    
        <th class="text-center" scope="col">message title</th>
        <th class="text-center" scope="col">sender</th>
        <th class="text-center" scope="col">date</th>
        <th class="text-center" scope="col">delete message</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of inbox">

        <td class="spec text-center" (click)=getSpecificMessage($event) [data]='data.id'>{{data.title}}</td>
        <td class='text-center'>{{data.firstname}} {{data.lastname}}</td>
        <td class='text-center'>{{data.date}}</td>
        <td (click)=delete($event) [data]='data.id' class='spec text-center'>delete</td>
      </tr>
    </tbody>
  </table>
  
 
</div>
<div [class]='sentboxvisibility' class="col-10 ">
  <h4 class="text-center">Sent messages</h4>
  <h5>{{sentMessage}}</h5>
  <table class="table table-bordered">
    <thead>
      <tr>
    
        <th class="text-center" scope="col">message title</th>
        <th class="text-center" scope="col">receiver</th>
        <th class="text-center" scope="col">date</th>
        <th class="text-center" scope="col">delete message</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mes of sentMessages">

        <td class="spec text-center" (click)=getSpecificMessage($event) [data]='mes.id'>{{mes.title}}</td>
        <td class='text-center'>{{mes.firstname}} {{mes.lastname}}</td>
        <td class='text-center'>{{mes.date}}</td>
        <td (click)=delete($event) [data]='mes.id' class='spec text-center'>delete</td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="theMessage " [class]="theMessageinvisibility" class='col-10 messages makeBorder' >
  <div class="p-4" >
Sending date: {{theMessage.date}} <hr>
from : {{theMessage.senderfname}} {{theMessage.senderlname}}<hr>
to: {{theMessage.getterfname}}  {{theMessage.getterlname}}<hr>
message title: {{theMessage.textTitle}}<hr>
</div>
<div class='m-2 p-4 textBorder' >
  {{theMessage.text}}

</div>


</div>

</div>

<app-message-form (change)="displayMessageForm=$event" [fromUser]='username'  [displayMessageForm]='displayMessageForm' [class]='displayMessageForm'></app-message-form>
</div>


</div>
