.pad-top{
    padding-top: 100px;
}
.height {
min-height: 700px;
}
.background-color{
    background-color: rgb(242, 243, 236);
}

.font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.user{
    border: 1px solid black;
    border-radius: 10px;
    margin:10px;
    padding:10px;
}

.user:hover{
    background-color: rgb(178, 218, 194);
}

.messages{
    
    min-height: 100px;
    padding:15px;
}

.makeBorder{
    margin-bottom: 10px;
    border:1px solid black;
    
}

.textBorder{
    margin-bottom: 10px;
    border:1px solid black;
    min-height: 200px;
    

}
.col-4{
    padding:10px;
    border:1px solid black;
    min-height: 500px;
}

table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}

.spec:hover{
    text-decoration: underline;
}


.table{
    background-color:rgb(243, 189, 39); 
    border-radius: 5px;
}
.but:focus,
.but:active
{
    outline: none !important;
    box-shadow: none !important;
}

.but {
    border:1px solid rgb(231, 230, 136);
    width:100px;
}
.but:hover{
    background-color: rgb(243, 189, 39);
}

.messagecolor{
    background-color: rgb(243, 189, 39);
}
