<div>
      
    <div class="pos p-5" [class]="displayAnswerForm">
      <h5>{{errorMsg}}</h5>
        <form [formGroup]="answerForm" (ngSubmit)="submitAnswer()">
          <h5 (click)="close()"  class="text-right">close</h5>
          <h5>{{questionForAnswer}}</h5><br>
          <div class="form-group m-2">
            <label for="answer"><h6>Write answer </h6></label>
            <textarea formControlName="answerText" name="answerText" rows="5" cols="50" class="form-control" id="answer"></textarea>
            </div>
            <button type="submit" class="btn but m-2">Submit answer</button>
            </form>
          </div>



</div>