
.pos {
    border-radius: 5px;
    position: fixed;
    left:250px;
    top:150px;
    bottom: 100px;
    right: 250px;
    background-color:rgb(242, 243, 236);
    box-shadow:   0 0 1px 1px rgb(236, 236, 195);
  
    z-index: 1;
    overflow: auto;
}

.but:focus,
.but:active
{
    outline: none !important;
    box-shadow: none !important;
}

.but {
    border:1px solid wheat;
}
.but:hover{
    background-color: rgb(243, 189, 39);
}
