main{
    padding-top: 70px;
}
.background-color{
    background-color: rgb(242, 243, 236);
}

.font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.height {
    min-height: 800px;
 
    }
.each{
    border-radius: 15px;
    padding:15px;
    background-color:  rgb(243, 189, 39);
    box-shadow:   0 0 3px 2px rgb(231, 231, 185);
}
.item{
    background-color: rgb(242, 243, 236);
    min-height: 50px;
    border-radius: 10px;
    box-shadow:   0 0 3px 2px rgb(231, 231, 185);
}



.detail{
 
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

