<main class="background-color height">

<div class="container p-5 font ">
   <h5>{{errorMsg}}</h5>
   <div class="row">
   <div class="col-11" *ngIf="info">
   <div *ngFor="let data of info" class="item">
    <div (click)="removeQuestion($event)" [data]='data.id' *ngIf="data.hasOwnProperty('question')" class="question m-2 p-3">
       <div class="detail">
        {{data.date}} <br>
       asked Question:<br>
      </div>
        {{data.question}} 
    </div>
    <div (click)="removeAnswer($event)" [data]='data.id' *ngIf="data.hasOwnProperty('answer')"class="answer m-2 p-3">
       <div class="detail">
      {{data.date}}<br>
     To Question  {{data.toQuestion}}  <br>
     Answered:<br>
   </div>
      {{data.answer}}
    </div>
    <div (click)="removeComment($event)" [data]='data.id' *ngIf="data.hasOwnProperty('comment')" class="comment m-2 p-3">
       <div class="detail">
       {{data.date}}<br>
       To the answer: {{data.toAnswer}}<br>
       On the question: {{data.ofQuestion}}<br>
       Commented:<br>
      </div>
     
       {{data.comment}}
    </div>
   </div>
</div>

</div>
</div>

</main>

