

.width{
    width: 40%;
}

.pad-top{
    padding-top: 100px;
}
.height {
min-height: 600px;
}
.background-color{
    background-color: rgb(244, 252, 175);
}

.font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}