

.width{
    width: 40%;
}

.pad-bot{
    padding-bottom: 50px;
}
.pad-top{
    padding-top: 100px;
}
.height {
min-height: 700px;
}
.background-color{
    background-color:  rgb(242, 243, 236);
}

.font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}