.height {
    min-height: 800px;
    border-radius: 10px;
    }
.background-color{
    background-color:rgb(245, 255, 158);
       
    }

.margin {
    margin-left: 125px;
    margin-top:-40px;
    position: relativ;
}
.picture{
    background-color: rgb(243, 252, 191);
    border-radius: 10px;
    width: 300px;
    height: auto;
}



.container{
    box-shadow: 0 0 5px 5px rgb(214, 206, 135);
}


.button-width{
    width: 250px;
}


.cursor {
    cursor: pointer;
}





.font{
  font-family: Georgia, 'Times New Roman', Times, serif;
}



.but:hover
{
    background-color: rgb(240, 253, 123);   
   
}

.but:focus,
.but:active
{
    outline: none !important;
    box-shadow: none !important;
}


.out{
    border: solid 1px black;
}
.pos {
    border-radius: 5px;
    position: fixed;
    left:250px;
    top:20px;
    bottom: 10px;
    right: 250px;
    background-color:rgb(240, 253, 123);
    z-index: 1;
    overflow: auto;
}


.pos1{
    border-radius: 3px;
    position: fixed;
    left:50%;
    top: 40%;
    bottom: 35%;
    right: 35%;
    background-color:rgb(240, 253, 123);
    z-index: 1;
}

.sbtn {
    background-color: rgb(240, 253, 123);
    border:1px solid black;
    border-radius: 5px;
    border: none;
}

.sbtn:hover{
    background-color: rgb(245, 255, 158);
}