

<main class="height background-color p-5 font">
    <div class="container rounded p-5" >
      <div class="row justify-content-around">
<div class="col-4  p-2">
<div class="picture ">
<label for="myInputFile">
    <img class="margin" src="https://img.icons8.com/ios/50/000000/upload--v1.png" width="40" height="40" />
    <input type="file" name="myInputFile" id="myInputFile" style="display:none;" />
  </label>
</div >
<br>
<h1>name surname </h1>
</div>

<div class="col-4  p-2  text-center">
  
  <button class="btn btn-outline-dark button-width cursor button-border "> <h3>followers</h3> </button> <br><hr>
  <button class="btn btn-outline-dark button-width cursor button-border"> <h3>following</h3></button><br><hr>
  <button class="btn btn-outline-dark button-width cursor button-border"><h3> Posts</h3></button>

</div>


</div>
<br>
<hr>

<div class="row justify-content-between">
  <div class=" col-6 p-2">
    <h4 class="text-center">basic info</h4> 
    <hr>
    
  </div>
<div class=" col-6 p-2">
  <h4 class="text-center">work and education</h4>
  <hr>
  <div class="row justify-content-between">
    

    
       
</div>
</div>
</div>
</div>
</main>