
<main class="height background-color  font">
 
    <div class="container rounded p-3" >
      <h5>{{errorMsg}}</h5>
      <div >
        <form class="form-inline" [formGroup]=searchForm (ngSubmit)="submitSearch()">
        <div  class="form-group m-3" >
          <label for="search">Search user</label><br>
          <input formControlName="searchText" type="text" class="form-control m-3" id="search" name="search" >
        </div>
        <div >
        <button type="submit" class=" btn but out" >search</button>
      </div>
      </form>

      <div class="col-3">
           
      </div>

      <div class="col-3">

      </div>
    </div>
     
      <div class="row justify-content-around">
<div class="col-4  p-2 m-3 ">
<div  >
  <img class="picture" [src]='profImage' [alt]='username' >
<label for="myInputFile">
    <img  class="margin" src="https://img.icons8.com/ios/50/000000/upload--v1.png" width="30" height="auto" />
    <input (change)='upload($event)' type="file" name="myInputFile" id="myInputFile" style="display:none;" />
  </label>
   
</div >
<div [class]="userType1">
<button  (click)="followUser()" [ngClass]="{'followed': ifUserFollows}"  class="btn but  mr-1 cursor "> 
   <h5 *ngIf="ifUserFollows; else elseBlock" >Following </h5>

<ng-template  #elseBlock>
  <h5>Follow </h5>
</ng-template>
     
</button> 
   
<button (click)="sendMessage()" class="btn but  cursor  "> <h5>Send message</h5></button>
</div>
<br>
<h1>{{firstname | titlecase}}</h1>
<h1>{{ lastname | titlecase}}</h1>
</div>

<div  class="col-4  p-2  m-3 text-center">
  
  <button (click)="followers()" class="btn but button-width cursor "> <h4>Followers</h4> </button> <br><hr>
  <button (click)="following()"  class="btn but button-width cursor  "> <h4>Following</h4></button><br><hr>
  <button (click)="activity()" class="btn but button-width cursor  "><h4> Activity</h4></button>
  
</div>

</div>
<br>
<hr>

<div  [class]="display" class="pos p-5">
  <h5 (click)="basicData()" class="text-right">close</h5>
 <form #filterForm="ngForm" (ngSubmit)="profileSubmit()">
   <br>
   <small>{{message}}</small>
   <br>
   <br>
   <div class="form-group">
     <label for="date">Birth Date </label><br>
     <input value="" type="date" class="form-control" id="date" name="birthdate" [(ngModel)]=userprofile.birthdate>
   </div>
   <div class="form-group">
    <label for="ocountry">Country of origin  </label><br>
    <select class="form-control" id="ocountry" name="originCountry" [(ngModel)]="userprofile.originCountry" >
      <option>select</option>
      <option *ngFor='let country of countries' >{{country['name']}}</option>
    </select>
  </div>
  <div class="form-group">
  <label for="ccountry">Current Country  </label><br>
  <select class="form-control" id="ccountry" name="currentCountry"[(ngModel)]="userprofile.currentCountry"  >
    <option>select</option>
    <option  *ngFor='let country of countries' >{{country['name']}}</option>
  </select>
  </div>
  <div>
    <label for='status'>relationship Status  </label><br>
      <select class="form-control" id="status" name="status"[(ngModel)]="userprofile.status" >
        <option >select</option>
        <option value="single">single</option>
        <option value="married">married</option>
        <option value="widowed">widowed</option>
        <option value="inarelationship">in a relationship</option>
      </select>
    </div>
    <br>
    <button type="submit" class="btn btn-light">Update Profile</button>
 </form>

</div>
<div [class]="_display" class="pos1 p-3 ">
  <h6 (click)="eduWork()" class="text-right">close</h6>
    <button (click)="edu()" class="sbtn but mb-1 p-2">add Education</button> <br>
   <button (click)="work()" class="sbtn but p-2">add Workplace</button>
</div>

<div [class]="displayEdu"  class="pos p-5">
  <h5 (click)="edu()" class="text-right">close</h5>
  <form [formGroup]="eduForm" (ngSubmit)="submitEdu()">
    <br>
   <small>{{messageEdu}}</small>
   <br>
   <br>
    <div class="form-group">
      <label for="startdate">Start Date </label><br>
      <input formControlName="startdate" value="" type="date" class="form-control" id="startdate" name="startdate" >
    </div>
    <div class="form-group">
      <label for="enddate">End Date </label><br>
      <input formControlName="enddate" value="" type="date" class="form-control" id="enddate" name="enddate">
    </div>
    <div class="form-group">
      <label for='type'>Education level  </label><br>
        <select formControlName="type" class="form-control" id="type" name="type" >
          <option value="select">select</option>
          <option value="High school">high school</option>
          <option value="BA">bachelor of arts</option>
          <option value="Bsc">bachelor of science</option>
          <option value="MA">master of arts</option>
          <option value="Msc">master of science</option>
          <option value="Phd">doctorate</option>
        </select>
      </div>
      <div class="form-group">
        <label for="institution">institution </label><br>
        <input formControlName="institution" type="text" class="form-control" id="institution" name="institution" >
      </div>
      <div class="form-group">
        <label for="country"> Country  </label><br>
        <select formControlName="country" class="form-control" id="country" name="country"  >
          <option>select</option>
          <option  *ngFor='let country of countries' >{{country['name']}}</option>
        </select>
  
     <br>
        <button type="submit" class="btn btn-light" >add education</button>
       
        </div>

  </form>
</div>
<div [class]="updateEduClass"  class="pos p-5">
  <h5 (click)="updateEdu($event)" class="text-right">close</h5>
  <form [formGroup]="eduForm" (ngSubmit)="submitUpdateEdu()">
    <br>
   <small>{{messageUpdateEdu}}</small>
   <br>
   <br>
    <div class="form-group">
      <label for="startdate">Start Date </label><br>
      <input formControlName="startdate" value="" type="date" class="form-control" id="startdate" name="startdate" >
    </div>
    <div class="form-group">
      <label for="enddate">End Date </label><br>
      <input formControlName="enddate" value="" type="date" class="form-control" id="enddate" name="enddate">
    </div>
    <div class="form-group">
      <label for='type'>Education level  </label><br>
        <select formControlName="type" class="form-control" id="type" name="type" >
          <option value="select">select</option>
          <option value="High school">high school</option>
          <option value="BA">bachelor of arts</option>
          <option value="Bsc">bachelor of science</option>
          <option value="MA">master of arts</option>
          <option value="Msc">master of science</option>
          <option value="Phd">doctorate</option>
        </select>
      </div>
      <div class="form-group">
        <label for="institution">institution </label><br>
        <input formControlName="institution" type="text" class="form-control" id="institution" name="institution" >
      </div>
      <div class="form-group">
        <label for="country"> Country  </label><br>
        <select formControlName="country" class="form-control" id="country" name="country"  >
          <option>select</option>
          <option  *ngFor='let country of countries' >{{country['name']}}</option>
        </select>
  
     <br>
        <button type="submit" class="btn btn-light" >update education</button>
       
        </div>

  </form>
</div>
<div [class]="displayWork" class="pos p-5">
  <h5 (click)="work()" class="text-right">close</h5>
  <form [formGroup]="workForm" (ngSubmit)="submitWork()">
    <br>
   <small>{{messageWork}}</small>
   <br>
   <br>
    <div class="form-group">
      <label for="startdate">Start Date </label><br>
      <input formControlName="startdate" value="" type="date" class="form-control" id="startdate" name="startdate" >
    </div>
    <div class="form-group">
      <label for="enddate">End Date </label><br>
      <input formControlName="enddate" value="" type="date" class="form-control" id="enddate" name="enddate">
    </div>
      <div class="form-group">
        <label for="workplace">workplace </label><br>
        <input formControlName="workplace" type="text" class="form-control" id="workplace" name="workplace" >
      </div>
      <div class="form-group">
        <label for="country"> Country  </label><br>
        <select formControlName="country" class="form-control" id="country" name="country"  >
          <option>select</option>
          <option  *ngFor='let country of countries' >{{country['name']}}</option>
        </select>
        <br>
        <button type="submit" class="btn btn-light" >add workplace</button>
       
        </div>

  </form>
</div>
<div [class]="updateWorkClass" class="pos p-5">
  <h5 (click)="updateWork($event)" class="text-right">close</h5>
  <form [formGroup]="workForm" (ngSubmit)="submitUpdateWork()">
    <br>
   <small>{{messageUpdateWork}}</small>
   <br>
   <br>
    <div class="form-group">
      <label for="startdate">Start Date </label><br>
      <input formControlName="startdate" value="" type="date" class="form-control" id="startdate" name="startdate" >
    </div>
    <div class="form-group">
      <label for="enddate">End Date </label><br>
      <input formControlName="enddate" value="" type="date" class="form-control" id="enddate" name="enddate">
    </div>
      <div class="form-group">
        <label for="workplace">workplace </label><br>
        <input formControlName="workplace" type="text" class="form-control" id="workplace" name="workplace" >
      </div>
      <div class="form-group">
        <label for="country"> Country  </label><br>
        <select formControlName="country" class="form-control" id="country" name="country"  >
          <option>select</option>
          <option  *ngFor='let country of countries' >{{country['name']}}</option>
        </select>
        <br>
        <button type="submit" class="btn btn-light" >update workplace</button>
       
        </div>

  </form>
</div>
<div class="row justify-content-around">
<div class=" col-1 p-2">
  <h4 (click)="basicData()" [class]="userType" class="text-center">+</h4>
</div>
<div class=" col-5 p-2">
  <h4 class="text-center"> basic info</h4> 
</div>
<div class=" col-1 p-2">
  <h4  (click)="eduWork()"[class]="userType" class="text-center">+</h4>
</div>
<div class=" col-5 p-2">
  <h4 class="text-center">work and education</h4>
</div>
</div>


<div class="row justify-content-between">
  <div class=" col-6 p-2">
   
 

    <table class="table ">
  <tbody *ngIf="keys">
    <tr *ngFor="let data of keys">
      
      <td  scope='col'>{{data}}</td>
      <td  scope='col'>{{basic_prof[data]}}</td>
    </tr>
   
  </tbody>

    </table>
  </div>
<div class=" col-6 p-2">
 
  
  <table class="table ">
    <tbody *ngIf="jsonParse">
     
      <tr *ngFor="let data of jsonParse">
        <td  scope='col'>{{data.educationType}} at {{data.institution}}  
          <div *ngIf="data.hasOwnProperty('country')">
            {{data.country}}
          </div>
          <div *ngIf="data.hasOwnProperty('startDate')">
           from  {{data.startDate}}
          </div>
          <div *ngIf="data.hasOwnProperty('endDate')">
            to {{data.endDate}}
          </div>
        </td>
        <td>
        <div (click)="updateEdu($event)"  [class]="userType"><button [data]="data.id"  class="sbtn mt-2 mb-2">update</button></div>
        <div (click)="removeEdu($event)"  [class]="userType"><button [data]="data.id" class=sbtn>delete</button></div>
      </td>
      </tr>
    </tbody>
    <tbody *ngIf="_jsonParse">
      <tr *ngFor="let data of _jsonParse">
        <td  scope='col'>worked at {{data.company}} 
          <div *ngIf="data.hasOwnProperty('country')">
          {{data.country}}
        </div>
        <div *ngIf="data.hasOwnProperty('startDate')">
          from  {{data.startDate}}
        </div>
         <div *ngIf="data.hasOwnProperty('endDate')">
           to {{data.endDate}}
         </div>
      </td>
      <td>
      <div (click)="updateWork($event)" [class]="userType"><button [data]="data.id" class="sbtn mt-2 mb-2">update</button>
      </div>
      <div (click)="removeWork($event)"  [class]="userType"><button [data]="data.id" class="sbtn">delete</button></div>
    </td>
      </tr>
    </tbody>
  
      </table>

    
       

</div>
</div>
</div>

<app-message-form (change)="displayMessageForm=$event" [fromUser]='searcher'  [displayMessageForm]='displayMessageForm' [class]='displayMessageForm'></app-message-form>
</main>