

.width{
    width: 40%;
}


.height {
min-height: 600px;
}
.background-color{
    background-color: rgb(235, 253, 130);
}

.font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login{
    background-color: rgb(243, 75, 75);
    border-radius: 3px;
}

.login:hover,
.login:active
{
    background-color:  rgb(236, 63, 63);
    cursor: pointer;
}