header{
    background-color: rgb(248, 236, 69);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    border-bottom:1px solid rgb(224, 224, 160);  
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}

.but1:focus,
.but1:active,
.but:focus,
.but:active
{
    outline: none !important;
    box-shadow: none !important;
}


.but {
   background-color: rgb(234, 241, 170);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 2px solid lightgoldenrodyellow;
}

.but1{
    background-color:rgb(234, 241, 170);
    height: 45px;
    width: 100px;
    border-radius: 50px;
    border: 2px solid lightgoldenrodyellow;
}

.but1:hover,
.but:hover{
    background-color: rgb(228, 236, 156);
}
.menu{
    position: fixed;
    width:120px;
    right: 60px;
    background-color:rgb(240, 247, 178);
    border-radius: 5px;
    padding:10px;
    margin:10px;
    z-index: 1;
    
}

ul{
    list-style:none
}

a{
   color: black;
   text-decoration: none;
}

.item{
    border-radius: 2px;
}
.item:hover{
    background-color: rgb(232, 241, 148);
}