
main{
    background-color: rgb(245, 255, 158);
    min-height: 650px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.question{
    background-color: lightgoldenrodyellow;
    min-height: 50px;
    border-radius: 10px;
    box-shadow:   0 0 3px 2px rgb(231, 231, 185);
}

.question:hover{
    background-color: lightyellow;
}
.answer{
    background-color:  lightgoldenrodyellow;
    border-radius: 10px;
    box-shadow:   0 0 3px 2px rgb(243, 243, 196);
}

.comment{
    background-color: wheat;
    border-radius: 5px;
}

.title{
    background-color: wheat;
    border-radius: 5px;
    border: 2px solid lightgoldenrodyellow;
}

.title:hover{
    background-color: rgb(241, 231, 211);
}

.upVoted{
    background-color: rgb(241, 231, 211);
}

.opacity{
    opacity: 0.3;
}


.pos {
    border-radius: 5px;
    position: fixed;
    left:250px;
    top:150px;
    bottom: 100px;
    right: 250px;
    background-color:rgb(249, 255, 191);
    box-shadow:   0 0 3px 2px rgb(236, 236, 195);
    z-index: 1;
    overflow: auto;
}

.but:focus,
.but:active
{
    outline: none !important;
    box-shadow: none !important;
}

.but {
    border:1px solid wheat;
}
.but:hover{
    background-color: wheat;
}

.but1{
   
    border: 1px solid rgb(236, 236, 135);
}

.but1:hover{
    background-color: rgb(230, 238, 159);
   
}


.but1:focus,
.but1:active
{
    outline: none !important;
    box-shadow: none !important;
}
.nameBut:focus,
.nameBut:active
{
    outline: none !important;
    box-shadow: none !important;
}
.nameBut{
    color:rgb(133, 24, 24);
}

.nameBut:hover{
    color: rgb(209, 5, 5);
}