
<main>
<div class="container-fluid p-4 ">
  <h4>{{errorMsg}}</h4>
  <div class="row justify-content-between">
      <div class="col-8 ">
        <form [formGroup]="questionForm" (ngSubmit)="submitQuestion()">
            <div class="form-group m-2">
              <label for="question"><h4>Ask Question</h4></label>
              <input formControlName="questionText"  type="text" class="form-control" id="question">
              </div>
              <button type="submit" class="btn but1 m-2">Submit</button>
              </form>
              <app-answer-question (answerAdded)="responceOk($event)"   [questionId]='questionId' (change)="displayAnswerForm=$event" [displayAnswerForm]="displayAnswerForm"  [questionForAnswer]='questionForAnswer'></app-answer-question>


<div  *ngFor='let object of answersObject' class="answer m-3 p-3">
  <div   class="title  p-2 opacity" >
    <div>
      Question: <button [id]='object.questionId' (click)="thisQuestionAnswers($event)" class="btn nameBut">   {{object.question}}<br></button>
    </div>
 
    <div>
       answer by <button (click)="goProfile($event)" [data]="object.username" class="btn nameBut">{{object.firstname}}  {{object.lastname}} </button> {{object.date}} 
    </div>

  </div>
 <div>
    <hr>
   <h6>{{object.answer}}</h6> 
  <hr>
  <div class="container" >
    <div class="row justify-content-left">
  <div (click)=getComments($event) [data]='object.answerId' class=" col-4 title p-2 text-center mr-1">
     Comments
  </div>
  <div  [ngClass]="{'upVoted': object.thisUserUpVotedAnswer}" (click)=upVote($event) [data]='object.answerId' class="col-2 title p-2 text-center">
        <div  [data]='object.answerId' *ngIf="object.thisUserUpVotedAnswer; else elseBlock" >

    upVoted | {{object.upVotes }}
  
        </div>      
        <ng-template #elseBlock >
          upVotes | {{object.upVotes }}
    </ng-template>
           
  </div>
</div>
<div class="col" *ngIf='object.answerId === answer_id'>
<div *ngFor='let info of commentsObject' >
  <hr>
  <div class="comment p-2">
  <h6 class="opacity">{{info.firstname}}  {{info.lastname}} {{info.date}}</h6>
     {{info.comment}}
    </div>
</div>
<div class="addcomment m-2">
  <form [formGroup]="commentForm" [data]='object.answerId' (ngSubmit)="submitComment($event)">
    <div class="form-group m-2">
      <label for="comment">add comment</label>
      <input formControlName="commentText"  type="text" class="form-control" id="comment">
      </div>
      <button type="submit" class="btn but m-2">Submit</button>
      </form>
</div>
</div>

</div>
 </div>
 
</div>
</div>


<div class=" col-4">
    <h3 class="m-2">Click to answer Question</h3>
    <div [data]="result[question][3]" (click)='displayAnswerField($event)' *ngFor='let question of questions'  class="question m-3 p-3 m-2">
          <div [data]="result[question][3]">
            <h6 [data]="result[question][3]" class="opacity"> by {{result[question][0]}} {{result[question][1]}}</h6>
            <h5 [data]="result[question][3]"> {{question}}</h5>
          </div>
     </div>
</div>
</div>

</div>
</main>
