


<main>

<div class="container p-4 ">
  <div class="row justify-content-around">
      <div class="col-8">
        <form [formGroup]="questionForm" (ngSubmit)="submitQuestion()">
            <div class="form-group m-2">
              <label for="question"><h4>Ask Question</h4></label>
              <input formControlName="questionText"  type="text" class="form-control" id="question">
              </div>
              <button type="submit" class="btn but1 m-2">Submit</button>
              </form>
              <div class="pos p-5" [class]="displayAnswerForm">
              <form [formGroup]="answerForm" (ngSubmit)="submitAnswer()">
                <h5 (click)="displayAnswerField($event)"  class="text-right">close</h5>
                <h5>{{questionForAnswer}}</h5><br>
                <div class="form-group m-2">
                  <label for="answer"><h6>Write answer </h6></label>
                  <textarea formControlName="answerText" name="answerText" rows="5" cols="50" class="form-control" id="answer"></textarea>
                  </div>
                  <button type="submit" class="btn but m-2">Submit answer</button>
                  </form>
                </div>


<div  *ngFor='let object of answersObject' class="answer m-3 p-3">
  <div class="title  p-2 opacity" [id]='object.questionId'>
  Question: {{object.question}}<br>
    <div >
       answer by {{object.firstname}}  {{object.lastname}} {{object.date}} 
    </div>

  </div>
 <div>
    <hr>
   <h6>{{object.answer}}</h6> 
  <hr>
  <div class="container">
    <div class="row justify-content-left">
  <div (click)=getComments($event) [data]='object.answerId' class="col-4 title p-2 text-center">
     Comments
  </div>
  <div (click)=upVote($event) [data]='object.answerId' class="col-2 title p-2 text-center">
     upVote 
  </div>
</div>
<div class="col" *ngIf='object.answerId === answer_id'>
<div *ngFor='let info of commentsObject' >
  <hr>
  <div class="comment p-2">
  <h6 class="opacity">{{info.firstname}}  {{info.lastname}} {{info.date}}</h6>
     {{info.comment}}
    </div>
</div>
<div class="addcomment m-2">
  <form [formGroup]="commentForm" [data]='object.answerId' (ngSubmit)="submitComment($event)">
    <div class="form-group m-2">
      <label for="comment">add comment</label>
      <input formControlName="commentText"  type="text" class="form-control" id="comment">
      </div>
      <button type="submit" class="btn but m-2">Submit</button>
      </form>
</div>
</div>

</div>
 </div>
 
</div>
</div>


<div class="col-4">
    <h3 class="m-2">Click to answer Question</h3>
    <div [data]="result[question][3]" (click)='displayAnswerField($event)' *ngFor='let question of questions'  class="question m-3 p-3 m-2">
          <div [data]="result[question][3]">
            <h6 [data]="result[question][3]" class="opacity"> by {{result[question][0]}} {{result[question][1]}}</h6>
            <h5 [data]="result[question][3]"> {{question}}</h5>
          </div>
     </div>
</div>
</div>

</div>
</main>
