
<main>

<div class="container p-5 ">
 
        <form >
            <div class="form-group m-2">
              <label for="question"><h4>Ask Question</h4></label>
              <input type="text" class="form-control" id="question">
              </div>
              <button type="submit" class="btn btn-light m-2">Submit</button>
              </form>
    
</div>

<div class="container p-5 ">
<div class="question m-3 p-3">
   Question
</div>
<div class="answer m-3 p-3">
    answer
    <br>
    <button class="btn btn-light m-2">comments</button>
</div>
</div>


</main>