

<div>

    <div class="pos p-5" >
        <form [formGroup]="messageForm" (ngSubmit)="submitMessage()">
          <h5 (click)="close()"  class="text-right">close</h5>
          <div class="form-group">
            <label for="from">From user</label>
            <input formControlName="from" type="text" class="form-control widthAndHeight" id="from">
          </div>
          <div class="form-group">
            <label for="to">To user</label>
            <input formControlName="to" type="text" class="form-control widthAndHeight" id="to">
          </div>
          <div class="form-group">
            <label for="title">Message title</label>
            <input formControlName="messageTitle" type="text" class="form-control widthAndHeight" id="title">
          </div>
          <div class="form-group m-2">
            <label for="answer"><h6>Message text</h6></label>
            <textarea formControlName="messageText" name="messageText" rows="4" cols="50" class="form-control" id="message"></textarea>
            </div>
            <small>{{message}}</small><br>
            <button type="submit" class="btn but m-2">Send </button>
            </form>
          </div>


</div>